:root {
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);

  --white-clr: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black-clr: hsl(0, 0%, 7%);

  --font-xs: 0.8rem;
  --font-sm: 0.9rem;
  --font-md: 1rem;
  --font-lg: 1.25rem;

  --font-400: 400;
  --font-600: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
}

body {
  min-height: 100vh;
  background-color: var(--grey-100);
}

main {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  height: auto;
}

h2 {
  font-size: var(--font-md);
  font-weight: var(--font-400);
}

.testimonial__bio > p {
  font-size: var(--font-xs);
  font-weight: var(--font-400);
}

.testimonial > p {
  font-size: var(--font-lg);
  font-weight: var(--font-600);
}

span {
  font-size: var(--font-sm);
  font-weight: var(--font-400);
}

.testimonials {
  max-width: 80%;
  margin-top: clamp(1rem, 5vw, 10rem);
  margin-inline: auto;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.testimonial {
  min-height: 250px;
  box-shadow: 40px 50px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
}

header {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-top: 10px;
}

.testimonial__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--white-clr);
}

.testimonials__main {
  max-width: clamp(250px, calc(95% - 25%), 1000px);
  display: grid;
  gap: 1.2rem;
}

.testimonials--group {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.testimonial--wide {
  grid-column: span 2;
}

.testimonial-narrow {
  grid-column: span 1;
}

.testimonial--purple {
  background-color: var(--purple-500);
  color: var(--white-clr);
  position: relative;
}

.testimonial__quotes-img {
  position: absolute;
  top: 0;
  right: 50px;
  width: 100px;
  opacity: 0.5;
}

.testimonial--navy {
  background-color: hsl(217, 19%, 35%);
  color: var(--white-clr);
}
.testimonial--white {
  background-color: var(--white-clr);
  color: var(--black-clr);
}
.testimonial--black {
  background-color: var(--dark-blue);
  color: var(--white-clr);
}
.testimonial--aside {
  background-color: var(--white-clr);
  color: var(--black-clr);
  width: 250px;
}

footer {
  padding: 1.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1150px) {
  .testimonials__main {
    max-width: 100%;
  }

  .testimonial--aside {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .testimonials {
    flex-direction: column;
    align-items: center;
    gap:0;
  }
  .testimonial {
    grid-column: span 1;
  }
  .testimonial--aside {
    margin-top: 2rem;
  }
}